USE [libroxamarinforms_db]
GO
ALTER TABLE [dbo].[Surveys] DROP CONSTRAINT [FK_Surveys_Teams]
GO
ALTER TABLE [dbo].[Surveys] DROP CONSTRAINT [FK_Surveys_Surveys]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 03/03/2018 15:55:10 ******/
DROP TABLE [dbo].[Teams]
GO
/****** Object:  Table [dbo].[Surveys]    Script Date: 03/03/2018 15:55:10 ******/
DROP TABLE [dbo].[Surveys]
GO
/****** Object:  Table [dbo].[Surveys]    Script Date: 03/03/2018 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surveys](
	[Id] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[TeamId] [int] NOT NULL,
	[Latitude] [decimal](18, 4) NOT NULL,
	[Longitude] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_Surveys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 03/03/2018 15:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Logo] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
INSERT [dbo].[Surveys] ([Id], [Name], [Birthdate], [TeamId], [Latitude], [Longitude]) VALUES (N'011b6c16-7a23-4b70-ba26-1c211bb54b44', N'Otra prueba', CAST(N'2018-01-20T00:00:00.000' AS DateTime), 4, CAST(-34.8840 AS Decimal(18, 4)), CAST(-56.1630 AS Decimal(18, 4)))
INSERT [dbo].[Surveys] ([Id], [Name], [Birthdate], [TeamId], [Latitude], [Longitude]) VALUES (N'21fecdd3-a0de-44b5-8245-888165e7155e', N'Cantinflas', CAST(N'2018-01-20T00:00:00.000' AS DateTime), 2, CAST(-34.8840 AS Decimal(18, 4)), CAST(-56.1630 AS Decimal(18, 4)))
INSERT [dbo].[Surveys] ([Id], [Name], [Birthdate], [TeamId], [Latitude], [Longitude]) VALUES (N'33487286-f32d-44fa-a950-63e348d13c71', N'ab', CAST(N'2018-01-22T00:00:00.000' AS DateTime), 8, CAST(-34.8840 AS Decimal(18, 4)), CAST(-56.1630 AS Decimal(18, 4)))
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Surveys] FOREIGN KEY([Id])
REFERENCES [dbo].[Surveys] ([Id])
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Surveys]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Teams] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Teams]
GO
